<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="Description"
      content="KwK Tech is an innovative solution to the problems that exist and the problems you do not know that exist or foresee to exist. We take the worst out of the tech that exists today and make it better and add our KwK touch to everything and at the same time create new products."
    />
    <meta
      name="keywords"
      content="Technology, Innovation, Ecosystem, Marketing platform, Ecommerce"
    />
    <link rel="icon" href="/images/kwk_fav.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>KWK Tech - When you need it KWK not quick!</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="bg">
        <img src="/images/kwk_bg.png" alt="Background Image" />
      </div>
      <div class="head">
        <div class="logo">
          <img src="/images/kt_logo.png" alt="Logo" />
        </div>
        <div class="btn">
          <a class="myBtn" href="mailto:stathizaf@kwktech.com">Contact Us</a>
        </div>
      </div>
      <div class="emblem">
        <img src="/images/kt.png" alt="Emblem" />
      </div>
      <div class="heading">
        <h1>is for KWK Tech</h1>
      </div>
      <div class="text">
        <p>
          KwK Tech has a similar approach to other stand-out tech companies,
          which is why we are not a conventional company. We strive to push the
          envelope. “Impossible” or “can’t” is not an acceptable answer or
          conclusion. It is frustrating trying to partner with companies that
          are rooted in saying “SORRY we can’t do that”.
          <span onclick="myFunction()" id="more">See More</span>
        </p>
        <span id="more_text">
          <p>
            KwK Tech is focused on making results, not excuses. We pride
            ourselves on thinking outside the box. I spent over 30 years
            designing and engineering magic illusions for magicians to make the
            impossible possible. Impossible was never a conclusion, thinking
            outside the box, reinventing old ways, creating new techniques and
            technologies just to overcome a problem is what I did and continue
            doing.
          </p>
          <p>
            KwK Tech is an innovative solution to the problems that exist and
            the problems you do not know that exist or foresee to exist. We take
            the worst out of the tech that exists today and make it better and
            add our KwK touch to everything and at the same time create new
            products.
          </p>
          <p>
            If Speed is important to you, then KwK Tech is invested in it. KwK
            Tech aims to have everything you want to be brought to you not just
            quickly but KWKly!
          </p>
        </span>
      </div>
      <div class="signature">
        <img src="/images/sign.png" alt="Signature" />
        <p>Stathi Zaf</p>
      </div>
      <div class="group">
        <div class="images">
          <img src="/images/pay.png" alt="Pay" />
          <img src="/images/cloud.png" alt="Cloud" />
          <img src="/images/music.png" alt="Music" />
          <img src="/images/pharma.png" alt="Pharma" />
          <img src="/images/coin.png" alt="Coin" />
          <img src="/images/viewer.png" alt="Viewer" />
          <img src="/images/space.png" alt="Space" />
          <img src="/images/live.png" alt="Live" />
          <img src="/images/courier.png" alt="Courier" />
          <img src="/images/book.png" alt="Book" />
          <img src="/images/bites.png" alt="Bites" />
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
  <script>
    var counter = 0;
    $(".images img").each(function (i) {
      if (i == 0) {
        counter = 0;
      } else {
        counter++;
      }
      if (counter < 4) {
        $(this).addClass("show");
      } else {
        $(this).addClass("hide");
      }
    });
    function shuffleRandomLogos(remove, add) {
      const logo = $("." + remove).toArray();
      const logoLength = logo.length;
      const randomNum = Math.floor(Math.random() * logoLength);
      const randomLogo = logo[randomNum];
      $(randomLogo).removeClass(remove);
      $(randomLogo).addClass(add);
    }
    window.setInterval(function () {
      shuffleRandomLogos("show", "hide");
      shuffleRandomLogos("hide", "show");
    }, 2000);
    function myFunction() {
      var moreText = document.getElementById("more_text");
      var btnText = document.getElementById("more");
      moreText.style.display = "inline";
      btnText.style.display = "none";
    }
  </script>
</html>